:root{
    --green: #27AE60;
    --blue: #192A56;
    --body: #eeeeee;
    --gray-dark: #666666;
    --gray-light: #C4C4C4;
}

@font-face{
    src: url(../font/Nunito.ttf);
    font-family: Nunito;
}
