*{
    margin:0;
    padding:0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    transition: all ease-in-out 0.5s;
}

a{
    text-decoration: none;
    color: #333;
}

ul li{
    list-style-type: none;
}

.wrapper{
    width: 100%;
}

.shadow{
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.13);
}

button{
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}
